#war {
	padding: 5rem 0;
	background: skyblue;
}

#warson {
	margin-right: 20rem;
}

.list {

}

.100 {
	background: slategray;
	font-size: 3rem;
	color: orange;
	border-radius: 5rem;
}

.200 {
	background-color: green;
	
}